USE [Demo26-1]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 08.05.2026 2:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Номер заказа] [float] NOT NULL,
	[Дата заказа] [datetime] NULL,
	[Дата доставки] [datetime] NULL,
	[Адрес пункта выдачи] [float] NULL,
	[Фамилия клиента] [nvarchar](255) NULL,
	[Имя клиента] [nvarchar](255) NULL,
	[Отчество клиента] [nvarchar](255) NULL,
	[Код для получения] [float] NULL,
	[Статус заказа] [nvarchar](255) NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Номер заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Позиции]    Script Date: 08.05.2026 2:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Позиции](
	[ID позиции] [float] NOT NULL,
	[Номер заказа] [float] NULL,
	[Номер товара] [float] NULL,
	[Количество] [float] NULL,
 CONSTRAINT [PK_Позиции] PRIMARY KEY CLUSTERED 
(
	[ID позиции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 08.05.2026 2:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID сотрудника] [float] NOT NULL,
	[Роль сотрудника] [nvarchar](255) NULL,
	[Фамилия пользователя] [nvarchar](255) NULL,
	[Имя пользователя] [nvarchar](255) NULL,
	[Отчество пользователя] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[ID сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункт выдачи]    Script Date: 08.05.2026 2:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункт выдачи](
	[id ПВЗ] [float] NOT NULL,
	[Индекс] [float] NULL,
	[ город] [nvarchar](255) NULL,
	[ адрес] [nvarchar](255) NULL,
	[ дом ] [float] NULL,
 CONSTRAINT [PK_Пункт выдачи] PRIMARY KEY CLUSTERED 
(
	[id ПВЗ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 08.05.2026 2:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Номер товара ] [float] NOT NULL,
	[Артикул] [nvarchar](255) NULL,
	[Наименование товара] [nvarchar](255) NULL,
	[Единица измерения] [nvarchar](255) NULL,
	[Цена] [float] NULL,
	[Поставщик] [nvarchar](255) NULL,
	[Производитель] [nvarchar](255) NULL,
	[Категория товара] [nvarchar](255) NULL,
	[Действующая скидка] [float] NULL,
	[Кол-во на складе] [float] NULL,
	[Описание товара] [nvarchar](255) NULL,
	[Фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED 
(
	[Номер товара ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказ] ADD  CONSTRAINT [DF_Заказ_Статус заказа]  DEFAULT ('Новый') FOR [Статус заказа]
GO
ALTER TABLE [dbo].[Позиции] ADD  CONSTRAINT [DF_Позиции_Количество]  DEFAULT ((1)) FOR [Количество]
GO
ALTER TABLE [dbo].[Товары] ADD  CONSTRAINT [DF_Товары_Действующая скидка]  DEFAULT ((0)) FOR [Действующая скидка]
GO
ALTER TABLE [dbo].[Товары] ADD  CONSTRAINT [DF_Товары_Кол-во на складе]  DEFAULT ((0)) FOR [Кол-во на складе]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пункт выдачи] FOREIGN KEY([Адрес пункта выдачи])
REFERENCES [dbo].[Пункт выдачи] ([id ПВЗ])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пункт выдачи]
GO
ALTER TABLE [dbo].[Позиции]  WITH CHECK ADD  CONSTRAINT [FK_Позиции_Заказ] FOREIGN KEY([Номер заказа])
REFERENCES [dbo].[Заказ] ([Номер заказа])
GO
ALTER TABLE [dbo].[Позиции] CHECK CONSTRAINT [FK_Позиции_Заказ]
GO
ALTER TABLE [dbo].[Позиции]  WITH CHECK ADD  CONSTRAINT [FK_Позиции_Товары] FOREIGN KEY([Номер товара])
REFERENCES [dbo].[Товары] ([Номер товара ])
GO
ALTER TABLE [dbo].[Позиции] CHECK CONSTRAINT [FK_Позиции_Товары]
GO
