USE [master]
GO
/****** Object:  Database [Demo26-1]    Script Date: 12.05.2026 11:58:05 ******/
CREATE DATABASE [Demo26-1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo26-1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Demo26-1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo26-1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Demo26-1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo26-1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo26-1]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 12.05.2026 11:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Номер заказа] [int] NOT NULL,
	[Дата заказа] [datetime] NOT NULL,
	[Дата доставки] [datetime] NOT NULL,
	[Адрес пункта выдачи] [int] NOT NULL,
	[Фамилия клиента] [nvarchar](255) NOT NULL,
	[Имя клиента] [nvarchar](255) NOT NULL,
	[Отчество клиента] [nvarchar](255) NULL,
	[Код для получения] [int] NOT NULL,
	[Статус заказа] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Номер заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Позиции]    Script Date: 12.05.2026 11:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Позиции](
	[ID позиции] [float] NOT NULL,
	[Номер заказа] [int] NOT NULL,
	[Номер товара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_Позиции] PRIMARY KEY CLUSTERED 
(
	[ID позиции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 12.05.2026 11:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID сотрудника] [int] NOT NULL,
	[Роль сотрудника] [nvarchar](255) NOT NULL,
	[Фамилия пользователя] [nvarchar](255) NOT NULL,
	[Имя пользователя] [nvarchar](255) NOT NULL,
	[Отчество пользователя] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NOT NULL,
	[Пароль] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[ID сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункт выдачи]    Script Date: 12.05.2026 11:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункт выдачи](
	[id ПВЗ] [int] NOT NULL,
	[Индекс] [int] NOT NULL,
	[ город] [nvarchar](255) NOT NULL,
	[ адрес] [nvarchar](255) NOT NULL,
	[ дом ] [int] NOT NULL,
 CONSTRAINT [PK_Пункт выдачи] PRIMARY KEY CLUSTERED 
(
	[id ПВЗ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 12.05.2026 11:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Номер товара ] [int] NOT NULL,
	[Артикул] [nvarchar](255) NOT NULL,
	[Наименование товара] [nvarchar](255) NOT NULL,
	[Единица измерения] [nvarchar](255) NOT NULL,
	[Цена] [int] NOT NULL,
	[Поставщик] [nvarchar](255) NOT NULL,
	[Производитель] [nvarchar](255) NOT NULL,
	[Категория товара] [nvarchar](255) NOT NULL,
	[Действующая скидка] [int] NULL,
	[Кол-во на складе] [int] NOT NULL,
	[Описание товара] [nvarchar](255) NULL,
	[Фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED 
(
	[Номер товара ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказ] ADD  CONSTRAINT [DF_Заказ_Статус заказа]  DEFAULT ('Новый') FOR [Статус заказа]
GO
ALTER TABLE [dbo].[Позиции] ADD  CONSTRAINT [DF_Позиции_Количество]  DEFAULT ((1)) FOR [Количество]
GO
ALTER TABLE [dbo].[Товары] ADD  CONSTRAINT [DF_Товары_Единица измерения]  DEFAULT (N'шт.') FOR [Единица измерения]
GO
ALTER TABLE [dbo].[Товары] ADD  CONSTRAINT [DF_Товары_Действующая скидка]  DEFAULT ((0)) FOR [Действующая скидка]
GO
ALTER TABLE [dbo].[Товары] ADD  CONSTRAINT [DF_Товары_Кол-во на складе]  DEFAULT ((0)) FOR [Кол-во на складе]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пункт выдачи] FOREIGN KEY([Адрес пункта выдачи])
REFERENCES [dbo].[Пункт выдачи] ([id ПВЗ])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пункт выдачи]
GO
ALTER TABLE [dbo].[Позиции]  WITH CHECK ADD  CONSTRAINT [FK_Позиции_Заказ] FOREIGN KEY([Номер заказа])
REFERENCES [dbo].[Заказ] ([Номер заказа])
GO
ALTER TABLE [dbo].[Позиции] CHECK CONSTRAINT [FK_Позиции_Заказ]
GO
ALTER TABLE [dbo].[Позиции]  WITH CHECK ADD  CONSTRAINT [FK_Позиции_Товары] FOREIGN KEY([Номер товара])
REFERENCES [dbo].[Товары] ([Номер товара ])
GO
ALTER TABLE [dbo].[Позиции] CHECK CONSTRAINT [FK_Позиции_Товары]
GO
USE [master]
GO
